body{
	font: 14px/1.8 Arial, Helvetica, sans-serif;
}

.frame{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #aaa;
}

.header{
	padding: 10% 1%;
	text-align: center;
	background-color: #eee;
}

.logo {
	font-size: 2em;
	font-weight: bold;
	background: #5457de;
	color: #fff;
	display: inline-block;
	padding: 0 8px;
}

.container{
	overflow: hidden;
	background: #333;
}

.nav{
	float: left;
	width: 20%;
	background: #333;
	color: #fff;
}

.nav-list{
	list-style: none;
	margin: 0;
	padding: 2% 0;
}

.nav-item{
	margin: 1%;
	padding: 0%;
}

.content{
	float: left;
	width: 77%;
	background: #fff;
	padding-left: 3%;
	padding-bottom: 3%;
}

.footer{
	text-align: center;
	border-top: 1px solid #aaa;
	margin: : 20px 20px 0;
	font-size: 12px;
}

button{
	width: 10%; height: 40px;
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
	padding:0;
	margin: 0;
}

.nav-item>button {
	width: 100%;height: 100%;
	color: #fff;
  	padding: 10%;
}

.nav-item>.tab_menu_btn:hover {
  color: skyblue;
} 

.tab-list{
	margin: 0;
	list-style: none;
	display: flex;
	padding: 0;
	padding-bottom: 5%;
	padding-right: 5%;
	border: 0;
}

.tab-list>li{
	width: 100%;
}

.tab-list button{
	width: 100%; height: 200%;
}

.tab-list a{
	width: 100%; height: 200%;
	text-decoration: none;
}

.tab-list>a:hover{
	color: red;
}

.tabmenu.active{
	border-bottom: 2px solid gray;
}

.tabcontent {
	padding-top: 3%;
	display: none;
}

.tabcontent.on{
	display: block;
}

iframe{
	width: 95%;
	height: 500px;
}